body {
 color: navy;	
 background-image: url("chickens.jpg");
   background-repeat: no-repeat;
  background-size: 1500px 1080px;
}
a {
	
}
button {
	background-color: blue;

}

p {
	background-color: white;
}
