a {
	text-decoration: none;
}
p {
	font-family: sans-serif;
	color: grey;
	
}
body {
   background-image: url("https://images.vexels.com/media/users/3/157149/preview2/5ed9149356d9abecb4713a0dca4fa46b-jungle-background-design.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}
h1 {
	color: blue;
	font-family: garamond;
	
}
.contact {
	background-color: white;
}
